body {
	background-color: PaleGreen;
	width: 1500px;
	margin: 0 auto;
}



div#topTitle {
	background-color: SeaGreen;
	font-family: arial;
	padding: .25em;
	font-size: 2.5em;
	display: inline;
}

.item {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: .25em;
}


.description {
  font-size: 20px;
  padding-top: .25em;
}

.price {
  float: right;
  font-size: 20px;
  font-weight: 700;

}